process_scripts/splicemod_src/data/hg38.100way.phyloP100way/
ref/phastCons/
ref/phyloP/
ref/Rosenberg_2015/model_full_data.mat
ref/spidex/
ref/vep/
ref/exac/ExAC.r0.3.1.sites.vep.vcf.gz*
ref/exac/snp_exac_annot_all.txt
processed_data/exac/nat_downstr_intron_cons_scores_all.bed
processed_data/exac/nat_downstr_intron_positions.bed
processed_data/exac/nat_exon_cons_scores_all.bed
processed_data/exac/nat_exon_positions.bed
processed_data/exac/nat_upstr_intron_cons_scores_all.bed
processed_data/exac/nat_upstr_intron_positions.bed
ref/exac/tabix_input_snp_37_dbNCFP.txt
ref/linsight.bw
process_scripts/ensembl-vep/htslib
process_scripts/exac/.ipynb_checkpoints/exac_models-checkpoint.ipynb
process_scripts/ensembl-vep/htslib
process_scripts/exac/ref_file_diagnostics.R
ref/exac/ExAC_SNVs.vcf.gz
process_scripts/ensembl-vep/htslib
figs/supplement/comp_supplement.md
process_scripts/exac/Rplots.pdf
process_scripts/splicemod_src/src/feature.pyc
process_scripts/ensembl-vep/htslib
process_scripts/splicemod_src/src/motif.pyc
process_scripts/splicemod_src/src/util.pyc
process_scripts/splicing_autopsy.ipynb
processed_data/exac/HAL_cv_scaling_factors.pkl
processed_data/splicemod/splicemod_stop_codon_info.txt
bin/src/
ref/cadd/ExAC_r0.3.tsv.gz
ext_rna_seq/
