process_scripts/splicemod_src/data/hg38.100way.phyloP100way/
ref/phastCons/
ref/Rosenberg_2015/model_full_data.mat
ref/spidex/
ref/vep/
ref/exac/ExAC.r0.3.1.sites.vep.vcf.gz*
ref/exac/snp_exac_annot_all.txt
./processed_data/exac/nat_downstr_intron_cons_scores_all.bed
./processed_data/exac/nat_downstr_intron_positions.bed
./processed_data/exac/nat_exon_cons_scores_all.bed
./processed_data/exac/nat_exon_positions.bed
./processed_data/exac/nat_upstr_intron_cons_scores_all.bed
./processed_data/exac/nat_upstr_intron_positions.bed
./ref/exac/ExAC.r0.3.1.sites.vep.vcf.gz
./ref/exac/snp_exac_annot_all.txt
./ref/phastCons/chr1.phastCons100way.bigWig
./ref/phastCons/chr1.phastCons100way.wigFix.gz
./ref/phastCons/chr10.phastCons100way.bigWig
./ref/phastCons/chr10.phastCons100way.wigFix.gz
./ref/phastCons/chr11.phastCons100way.bigWig
./ref/phastCons/chr11.phastCons100way.wigFix.gz
./ref/phastCons/chr12.phastCons100way.bigWig
./ref/phastCons/chr12.phastCons100way.wigFix.gz
./ref/phastCons/chr13.phastCons100way.bigWig
./ref/phastCons/chr14.phastCons100way.bigWig
./ref/phastCons/chr15.phastCons100way.bigWig
./ref/phastCons/chr16.phastCons100way.bigWig
./ref/phastCons/chr17.phastCons100way.bigWig
./ref/phastCons/chr18.phastCons100way.bigWig
./ref/phastCons/chr19.phastCons100way.bigWig
./ref/phastCons/chr2.phastCons100way.bigWig
./ref/phastCons/chr2.phastCons100way.wigFix.gz
./ref/phastCons/chr20.phastCons100way.bigWig
./ref/phastCons/chr3.phastCons100way.bigWig
./ref/phastCons/chr3.phastCons100way.wigFix.gz
./ref/phastCons/chr4.phastCons100way.bigWig
./ref/phastCons/chr4.phastCons100way.wigFix.gz
./ref/phastCons/chr5.phastCons100way.bigWig
./ref/phastCons/chr5.phastCons100way.wigFix.gz
./ref/phastCons/chr6.phastCons100way.bigWig
./ref/phastCons/chr6.phastCons100way.wigFix.gz
./ref/phastCons/chr7.phastCons100way.bigWig
./ref/phastCons/chr7.phastCons100way.wigFix.gz
./ref/phastCons/chr8.phastCons100way.bigWig
./ref/phastCons/chr8.phastCons100way.wigFix.gz
./ref/phastCons/chr9.phastCons100way.bigWig
./ref/phastCons/chr9.phastCons100way.wigFix.gz
./ref/phastCons/chrX.phastCons100way.bigWig
./ref/phastCons/chrX.phastCons100way.wigFix.gz
./ref/Rosenberg_2015/model_full_data.mat
./ref/spidex/spidex.tab.gz
./ref/vep/homo_sapiens/90_GRCh38/1/all_vars.gz
./ref/vep/homo_sapiens/90_GRCh38/10/all_vars.gz
./ref/vep/homo_sapiens/90_GRCh38/11/all_vars.gz
./ref/vep/homo_sapiens/90_GRCh38/12/all_vars.gz
./ref/vep/homo_sapiens/90_GRCh38/13/all_vars.gz
./ref/vep/homo_sapiens/90_GRCh38/14/all_vars.gz
./ref/vep/homo_sapiens/90_GRCh38/15/all_vars.gz
./ref/vep/homo_sapiens/90_GRCh38/16/all_vars.gz
./ref/vep/homo_sapiens/90_GRCh38/17/all_vars.gz
./ref/vep/homo_sapiens/90_GRCh38/18/all_vars.gz
./ref/vep/homo_sapiens/90_GRCh38/19/all_vars.gz
./ref/vep/homo_sapiens/90_GRCh38/2/all_vars.gz
./ref/vep/homo_sapiens/90_GRCh38/3/all_vars.gz
./ref/vep/homo_sapiens/90_GRCh38/4/all_vars.gz
./ref/vep/homo_sapiens/90_GRCh38/5/all_vars.gz
./ref/vep/homo_sapiens/90_GRCh38/6/all_vars.gz
./ref/vep/homo_sapiens/90_GRCh38/7/all_vars.gz
./ref/vep/homo_sapiens/90_GRCh38/8/all_vars.gz
./ref/vep/homo_sapiens/90_GRCh38/9/all_vars.gz
./ref/vep/homo_sapiens/90_GRCh38/X/all_vars.gz
